{% extends 'uniSistemasBundle::layout.html.twig' %}


{% block cuerpo -%}
    {# Ahora viene el javascript #}

<script type="text/javascript">
function submitform(obj) {
document.forms["selectHardware"].submit();
}
</script>

{# Fin del javascript #}
<br>Buscar hardware:
<form id="selectHardware" action="{{path('hardware_responder_hardware')}}" method="POST">
    
   <select name="nombre" onChange="submitform(this)">
       <option value="Todas">Todas</option> 
       
       {% for hard in hardware %}
            <option value={{hard.nombre}}>{{hard.nombre}}</option>
        {% endfor %}
    </select>  
    
    
   
    
</form>
    {% endblock %}
